<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bjpowernode.mapper.UserMapper">

    <!-- <resultMap id="BaseResultMap" type="com.bjpowernode.domain.User"> -->
    <resultMap id="BaseResultMap" type="userAlias">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="age" column="age" jdbcType="INTEGER"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="gender" column="gender" jdbcType="INTEGER"/>
        <result property="contact" column="contact" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,age,
        email,status,gender,
        contact,create_time,update_time
    </sql>

    <!-- <select id="selectByNameUser" resultType="com.bjpowernode.domain.User"> -->
    <select id="selectByNameUser" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" /> from powershop_user where name = #{name}
    </select>

    <delete id="deleteByNameAndAge">
        delete
        from powershop_user
        where name = #{name,jdbcType=VARCHAR}
            AND age = #{age,jdbcType=NUMERIC}
    </delete>

    <update id="updateNameByAge">
        update powershop_user
        set name = #{name,jdbcType=VARCHAR}
        where age = #{age,jdbcType=NUMERIC}
    </update>


    <select id="selectAllByAgeBetween" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from powershop_user
        where
        age between #{beginAge,jdbcType=NUMERIC} and #{endAge,jdbcType=NUMERIC}
    </select>
</mapper>
